<div class="row border">
  <div class="col-2 col-sm-1">
    <button class="btn btn-secondary">
      Indietro
    </button>
  </div>
</div>

<div class="row border">
  <div class="col-sm-4 border">
    Immagine
  </div>
  <div class="col-sm-8 fw-bold fs-2 text-center text-sm-start border">
    {{person.name}} {{person.surname}}
  </div>
</div>

<div class="row border">
  <div class="col-4 text-secondary text-end text-sm-center border">
    Telefono
  </div>
  <div class="col-8  text-center text-sm-start border">
    {{person.phone}}
  </div>
</div>
<div class="row border">
  <div class="col-4 text-secondary text-end text-sm-center border">
    Email
  </div>
  <div class="col-8  text-center text-sm-start border">
    {{person.email}}
  </div>
</div>

