<div class="row">
  <div class="col">
    <p class="fw-bold">Contatti</p>
  </div>
  <form class="col">
    <label for="searchTerms" class="form-label">
      Search
    </label>
    <input id="searchTerms" type="text" class="form-control" />
  </form>
  <div class="col">
    <button class="btn btn-success" (click)="HandleAddPersonCLick()">Add person</button>
  </div>
</div>


<app-person-list-item class="row border align-items-center" *ngFor="let person of personList | async" [person]="person">
</app-person-list-item>
